h1 {
    color: green;
    margin-top: 0
}

.ui.button.currency-button{
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
}

.ui.button.currency-button:last-of-type{
    margin-bottom: 0;
}

.currency-name{
    margin: 0 10px 0 10px;
}

.currency-rate{
    margin: 0 10px 0 10px;
}

i.star.small.icon.selected {
    color: gold;
}

.deselect-button{
    float: right;
}

.root{
    margin-top: 20px;
}